.toogle-sidebar{
    margin-right: 50px; background: linear-gradient(141.08deg, #0A69DA 32.24%, #0856C8 115.93%, #0231A5 164.9%);
    border-radius: 12px; min-height: 710px; overflow: hidden;

    .sidebar-inner{
        padding: 30px 30px 40px 30px;
    }
    
    div.premium{
        border-radius: 180px; padding: 10px; margin-bottom: 30px;
        background: #F3F5FA; border: solid 1px #fff; transition: background-color 0.3s ease-in-out; height: 50px; margin-left: 30px; margin-right: 30px; max-width: 180px; overflow: hidden;
     }

    .premium-body{max-width: 100px; margin-left: 13px;  float: left}
    .premium-arrow{ width: 10px; height: 10px; padding-top: 10px; float: right !important;}
    .round-button{background: linear-gradient(214.51deg, #D10015 13.77%, #FF4369 83.58%);
        transform: matrix(1, 0, 0, -1, 0, 0); height: 30px; width: 30px; border-radius: 15px; position: relative; float: left;

        img{position:absolute; top:7px; left:9px;}

    }

    a{display: block;}
    div.premium:hover * {color: $primary !important;}
    p.title{font-size: 11px; font-weight: 700; color: $dark-text; padding: 0px 0 0px 0;}
    p.description{font-size: 10px; font-weight: 400; color: $light-text; opacity: 0.7;}

}



.btn
    {float: right; height: 30px;
    width: 30px;
    padding: 6px;
    background: #fff;
    border: 1px solid #fa8231;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    }

    .btn .bar1, .btn .bar2, .btn .bar3
        {height: 3px; width: 100%; display: block; background: #000;}

    .close-btn
    {
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
    padding: 6px;
    background: #222;
    border: 1px solid #fa8231;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    }

    .close-btn .bar1
    {
    transform: rotate(-130deg);
    height: 3px;
    width: 70%;
    display: block;
    background: #000;
    position: absolute;
    }

    .close-btn .bar2
    {
    display: none;
    }

    .close-btn .bar3
    {
    transform: rotateZ(130deg);
    height: 3px;
    width: 70%;
    display: block;
    background: #000;
    position: absolute;
    }
}

.section-title{ padding-bottom: 10px;

    a.view-all{font-size: 18px; color:#282E44; opacity: 0.5; font-weight: 600;}
    a.view-all:hover{color: $primary; opacity: 1;}

}

section#h-trip-package{

    .text-over{
        position: relative;
        .bg-image{border-radius: 14px;}
        .text-overlay-top{position: absolute; left: 30px; top: 30px;}
        .text-overlay-bottom{position: absolute; left: 30px; bottom: 30px;}
    }
    
}
